@font-face{ 
	font-family: 'ArvoRegular';
	src: url('../fonts/arvo-regular-webfont.woff');
	src: url('../fonts/arvo-regular-webfont.woff?#iefix') format('embedded-opentype'),
	     url('../fonts/arvo-regular-webfont.woff') format('woff'),
	     url('../fonts/arvo-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'arvobold';
    src: url('../fonts/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo-bold-webfont.woff') format('woff'),
         url('../fonts/arvo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


div#mainDiv{
	display:block;
	position:absolute;
	padding:0px !important;
	margin:0px !important;
	width:100% !important;
	height:inherit;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	overflow: scroll !important;
}

ul#slideList{
	padding: 0;
}
ul#slideList li{
	padding:0;
}
#slideItem{
	display:none;
	position: absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	margin:0px;
	padding:0px !important;
	background-color:transparent;
}

#btn{
	display:block;
	position:absolute;
	width:159px;
	height:34px;
	top:167px;
	left:76px;
	background:transparent url('../img/btn.png') center no-repeat;
	cursor: pointer;
}
html,body{
	height:100%;
	margin:0px;
	padding:0px;
	font-family:'ArvoRegular';
	background:#0B3470 url('../img/homepage-hero.jpg') center no-repeat;
	color:#FAF000;
	font-size:4vh;
}
table {
}

.mainContent{
	padding-bottom:56.25%;
	overflow: hidden;
	height:auto !important;
}

th{
	color:#333;
}

#announcements{
	height:100%;
	overflow: hidden !important;
	font-size:1.5em;
}

#announcmentList{

}

.jumbotron{
	min-width:100%;
	max-height:100%;
	overflow: hidden;
	position:absolute;
	background-color:#B4BFBC;
	color:#0B3470;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding: 0.5rem 0.5rem;
}

.assignedPRTitleBar,.assignedFBCTitleBar{
	font-family:'arvobold';
}

.qNumber{
	font-family:'arvobold';
	color:#0B3470;
}

/* Fading animation */
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

.highlightOrange,.tzone{
	color:#EF5D18;
	font-family: 'arvobold';
}

.greenThemeYellow{
	color:#FAF000;
}

.sizmekYellow{
	color:#faf000;
}

#carouselTimeDisplay{
	width:60vw;
	height:10%;
	display:block;
	position:absolute;
	z-index:2;
	bottom:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	font-size:4vw;
	padding:0px !important;
}

#carouselTimeDisplay div div img{
	opacity:0;
}

.carousel-caption{
	padding:0px !important;
	width:100%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	height:100%;
	position:absolute;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}
/* HOME PAGE */
div#home_main{
	width: 100%;
	height:100%;
	margin: 0px;
	position: absolute;
}
